@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

.descuentos{
    background-color: #1CD1B0;
    padding: 10px;
}

h1{
    background-color: #00669F;
    font-size: 40px;
    padding: 50px;
    box-shadow: 0 5px 20px black;
}

main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    flex-wrap: wrap;
}


#card .infoCard{
    background-color: #f3f3f3; 
    padding: 10px;
    padding-top: 80px;
    box-sizing: border-box;
    width: 300px;
    box-shadow: 0 5px 5px rgb(58, 58, 58);
}

#card{
    width: 300px;    
}

#card h2{
    text-align: center;
    padding-bottom: 10px;
}

#card button{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #00669F;
    border: 0;
    color: white;
}

.fotoBat{
    border-radius: 50%;
    position: relative;
    left: 90px;
    top: 130px;
}

.fondoBat{
    background-image: url(img/fondo-bat.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 193px;
}

.fondoHar{
    background-image: url(img/fondo-har.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 193px;
}

.fotoHar{
    border-radius: 50%;
    position: relative;
    left: 90px;
    top: 130px;
}

.cora{
    position: relative;
    right: 100px;
    bottom: 70px;
}

footer{
    background-color: #00669F;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}