@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

.parte1Header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 10px;
}

.parte1Header .selecIdioma{
    display: flex;
}

.selecIdioma p{
    padding: 0 20px;
}

.parte2Header{
    display: flex;
    justify-content: space-between;
    background-color: #F0A83E;
    padding: 20px;
}

.parte2Header img{
    display: flex;
    align-items: center;
}

header ul{
    list-style-image: url("/Petshop/img/huellita.png");
    display: flex;
    align-items: center;
}

header li{
    margin: 0 30px;
}

#banner{
    text-align: center;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 409px;
    margin-bottom: 10px;
}

.letrasBanner{
    position: absolute;
    top: 260px;
    right: 170px;
}

#banner h2{
    width: 300px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

#banner p{
    color: #3C2313;
    padding: 15px 0;
}

#banner button{
    background-color: #F0A83E;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 0;
    padding: 15px;
    border-radius: 8px;
}

#banner div{
    margin-left: 500px;
}

#tituloProductos{
    text-align: center;
    margin-bottom: 50px;
}

#tituloProductos h1{
    font-size: 40px;
}

#tituloProductos p{
    color: #666666;
    margin-top: 10px;
}

#productos{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#productos p{
    color: #3C2313;
}

#productos strong{
    color: #F0A83E;
}

#contacto{
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
}

#contacto h2{
    color: #3C2313;
    margin-bottom: 10px;
}

form input{
    width: 300px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: #3C2313;
    border: 0;
}

form ::placeholder{
    color: white;
}

form button{
    margin: 10px;
}

.reset{
    padding: 10px 15px;
    border-radius: 15px;
    border: 0;
    background-color: #8A8787;
    color: white;
}

.send{
    padding: 10px 15px;
    border-radius: 15px;
    border: 0;
    background-color: #F0A83E;
    color: white;
}

#contactoMail{
    display: flex;
    background-color: #F0A83E;
    padding: 15px;
    justify-content: space-between;
}

.mailLogo{
    display: flex;
    align-items: center;
}

.mailLogo p{
    color: white;
    padding: 0 5px;
}

.suscribe{
    display: flex;
}

.suscribe input{
    width: 300px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
}

.suscribe button{
    margin-left: 10px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #3C2313;
    color: white;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #3C2313;
}

.logoFoot{
    display: flex;
    align-items: center;
    padding: 20px;
}

#info{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cositosInfo{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.detallesInfo{
    padding: 0 20px;
    color: white;
}

.detallesInfo p{
    color: gray;
    font-size: 14px;
}

.derechos{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}

