*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #222222;
}

.logo{
    padding: 10px;
}

header ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

header ul li{
padding: 0px 30px;
}

header a{
        text-decoration: none;
        color: white;
}

main{
    margin-top: 130px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.delivery{
    background-image: url(img/delivery.jpg);
    background-size: cover;
    width: 500px;
    height: 350px;
}

.delivery h2{
    padding: 10px;
    color: red;
}

#listaPizzas{
    width: 500px;
    height: 350px;
}

#listaPizzas h2{
    text-align: center;
    padding: 10px;
    color: red;
}

#listaPizzas .listaTop{
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
}

.listaTop h3{
    padding-bottom: 15px;
    font-size: 24px;
}

.listaTop li{
    padding-bottom: 5px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
}

footer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

footer li{
    padding: 10px 10px;
}

footer a{
    color: white;
}

.logoFoot{
    display: flex;
    align-self: center;
    padding: 20px;
}